@charset 'utf-8';

@import 'normalize.css';

body {
  height: 100vh;
  background: url(/img/bg.jpg) bottom;
  background-size: cover;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

.flex {
  display: flex;
}